/***** HEADER***/

 header {
   height: 500px;
  background-image: url("img/header.png");
   background-size: cover;
   width: 100vw;
 }

.top-ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

.top-index {
  padding: 30px;
}

section{
  width: 100vw;
}
/**** FIRST DIV****/

.first-div {
  background-color: lightgrey;
  height: 200px;
  width: 100vw;
}
.first-div img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

/**** SECOND DIV****/

.second-div{
  height: 500px;
  display: flex;
  flex-direction: row;
  width: 100vw;

}
  .second-left {
    width: 60vw;
    flex-grow: 1;
    background-image: url("img/div2-background.png");
      }

  .second-left img{
    display: block;
    margin: auto;
    margin-top: 80px;
  }

  .second-right {
    width: 40vw;
    background-color: azure;
    flex-grow: 1;
    text-align: center;
  }

#icon1 {
  display: block;
  margin: auto;
  padding-top: 20px;
}
#brown-saddle{
  display: flex;
  align-items: flex-end;
  width: 40vw;
}


/**** THIRD DIV****/

.third-div{
  height: 500px;
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.third-left {
  background-color: azure;
  width: 40vw;
  flex-grow: 1;
  text-align: center;
}

.third-left img {
  display: block;
  margin: auto;
  padding-top: 10px;
  }

.third-right {
  background-image: url("img/div3-background.png");
  width: 60vw;
  flex-grow: 1;
}

.third-right img {
  display: block;
  margin: auto;
  padding-top: 150px;
}

/**** FOURTH DIV****/

.fourth-div{
  display: flex;
  flex-direction: row;
  height: 500px;
  width: 100vw;
}
.fourth-left {
  background-color: green;
  width: 33vw;
}

.fourth-middle {
  background-color: blue;
  width: 34vw;
}

.fourth-right {
  background-color: green;
  width: 33vw;
}

/**** fifth DIV****/

.fifth-div{
  display: flex;
  flex-direction: row;
  height: 300px;
  width: 100vw;
  background-color: azure;
  text-align: center;
}

/**** sixth DIV****/

.sixth-div {
  display: flex;
  flex-direction: row;
  height: 300px;
  width: 100vw;
}

  .sixth-left {
    background-color: green;
    width: 33vw;
  }

  .sixth-middle {
    background-color: blue;
    width: 34vw;
    text-align: center;
  }

  .sixth-right {
    background-color: green;
    width: 33vw;
}
