/***** HEADER***/

 header {
   height: 500px;
  background-image: url("img/header.png");
   background-size: cover;
   width: 100vw;
 }

.top-ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

.top-index {
  padding: 30px;
}


/**** FIRST DIV****/

.first-div {
  background-color: lightgrey;
  height: 200px;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.first-div img {
  display: block;
  padding-top: 20px;
}

.first-div p{
  margin-top: -17px;
  width: 700px;
}

/**** SECOND DIV****/

.second-div{
  height: 500px;
  display: flex;
  width: 100vw;

}
  .second-left {
    width: 60vw;
    flex: 1;
    background-image: url("img/div2-background.png");

      }

  .second-left img{
    display: block;
    margin: auto;
    margin-top: 80px;
  }

  .second-right {
    width: 40vw;
    background-color: azure;
    text-align: center;
    display: flex;
    flex-direction: column;
      }

#icon1 {
  display: block;
  margin: auto;
  padding-top: 20px;
}
#brown-saddle{
  display: flex;
  align-items: flex-end;
  width: 40vw;
}


/**** THIRD DIV****/

.third-div{
  height: 500px;
  display: flex;
  width: 100vw;
}

.third-left {
  width: 40vw;
  background-color: azure;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

}

#target-icon {
  display: block;
  margin: auto;
  padding-top: 10px;

  }
  #black-saddle {
    align-items: flex-end;
    width: 40vw
  }


.third-right {
  background-image: url("img/div3-background.png");
  width: 60vw;
  flex-grow: 1;
}

.third-right img {
  display: block;
  margin: auto;
  padding-top: 150px;
}

/**** FOURTH DIV****/

.fourth-div{
  height: 500px;
  display: flex;
  flex-direction: row;
  width: 100vw;
  text-align: center;
}
.fourth-left {
  background-image: url("img/div4-background1.png");
  width: 33vw;
}

.fourth-middle {
  background-color: azure;
  width: 34vw;
  display: flex;
  flex-direction: column;
  align-content: center;
}


#icon3 {
  display: block;
  margin: auto;

}
#div4mid{
  align-items: flex-end;
}

.fourth-right {
  background-image: url("img/div4-background.png");
  width: 33vw;
}

/**** fifth DIV****/

.fifth-div{
  height: 300px;
  width: 100vw;
  background-color: azure;
  text-align: center;
}
.fifth-div img{
  padding: 20px;
}

/**** new sixt div ***/

.div6 {
  width: 100vw;
  height: 500px;
  display: flex;
}

.div6-left{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.div6-left-top{
  display: flex;
  flex-direction: row;
}



.div6-left-bottom{
  background-image: url("img/brooks2.png");
  background-size: cover;
  flex: 1;
}

.div6-mid{
  display: flex;
  flex: 1;


}

.div6-mid-left{
  background-image: url("img/middle1.png");
  background-size: cover;
  flex: 1;
}
.div6-mid-right{
  background-image: url("img/middle2.png");
  background-size: cover;
  flex: 1;
}
.div6-right{
  flex: 1;
  display: flex;
  flex-direction: column;

}

.div6-right-top{
  background-image: url("img/six-top.png");
  background-size: cover;
  flex: 1;

}

.div6-right-bottom{
  display: flex;
}
.div6-right-bottom1{
  display: flex
  background-image: url("img/saddle-front.png");
  background-size: cover;
  flex: 1;
}
.div6-right-bottom1{
  display: flex;
  background-image: url("img/bag.png");
  background-size: cover;
  flex: 1;
}

.div7{
  background-color: black;
  width: 100vw;
  display: flex;
  flex: 1;
  height: 150px;
  justify-content: center;
}

.div7 button {
  background-color: black;
  color: white;
  height: 50px;
  align-self: center;
  border-radius: 12px;
  padding: 10px 24px;
  transition-duration: 0.4s;
  box-shadow: 1px 1px 10px 1px grey;

}

button:hover{
  background-color: darkslategrey;
}

.div8{
  background-color: azure;
  color: grey;
  height: 400px;
  width: 100vw;
  text-align: center;
  font-size: 25px;
  display: flex;
  flex-direction:column;

}

.div8 img{
  padding-top: 50px;
  display: block;
  width: 100px;
  align-self: center;
}

.div8 button{
  background-color: rgba(9, 179, 131, 0.40);
  height: 55px;
  width: 90px;
}

#email {
  height: 50px;
}
